[Unit]
Description=Offline System Upgrade using Pamac
ConditionPathExists=/system-update
Documentation=http://www.freedesktop.org/wiki/Software/systemd/SystemUpdates

DefaultDependencies=no
After=plymouth-poweroff.service plymouth-reboot.service
Before=umount.target

[Service]
# We are done when the script exits, not before
Type=oneshot
# Upgrade output goes to journal and on-screen.
#StandardOutput=journal+console
StandardOutput=tty
ExecStartPre=-/usr/bin/plymouth change-mode --updates
ExecStartPre=/usr/bin/rm /system-update
ExecStartPost=-/usr/bin/plymouth system-update --progress=50
ExecStart=/usr/bin/pamac upgrade --no-aur --no-refresh --no-confirm
ExecStartPost=-/usr/bin/plymouth system-update --progress=100
ExecStartPost=-/usr/bin/sleep 2

[Install]
WantedBy=shutdown.target
