[Unit]
Description=Generate mirrorlist every fortnight

[Timer]
OnCalendar=*-*-1,15 0:00:00
RandomizedDelaySec=12h
Persistent=true

[Install]
WantedBy=timers.target
