[Desktop Entry]
Name=Add/Remove Software
Name[af]=Voeg by/verwyder sagteware
Name[ar]=إضافة وإزالة البرمجيات
Name[as]=চালনাজ্ঞান যোগ কৰক/আঁতৰাই দিয়ক
Name[ast]=Amestar/Quitar software
Name[be]=Дадаць/выдаліць апраграмаванне
Name[bg]=Инсталиране/деинсталиране на софтуер
Name[bn]=সফ্টওয়্যার যোগ/অপসারণ
Name[bn_IN]=সফ্টওয়্যার যোগ/অপসারণ করুন
Name[ca]=Afegeix/Suprimeix programari
Name[ca@valencia]=Afig/Suprimeix programari
Name[cs]=Přidat/odebrat software
Name[da]=Tilføj/fjern software
Name[de]=Software hinzufügen/entfernen
Name[el]=Προσθαφαίρεση λογισμικού
Name[en@shaw]=𐑨𐑛/𐑮𐑦𐑥𐑵𐑝 𐑕𐑪𐑓𐑑𐑢𐑺
Name[en_GB]=Add/Remove Software
Name[eo]=Aldoni/forigi instalitan pogramaron
Name[es]=Añadir/Quitar software
Name[et]=Tarkvara lisamine ja eemaldamine
Name[eu]=Gehitu/Kendu softwarea
Name[fa]=افزودن/حذف نرم‌افزار
Name[fi]=Lisää tai poista ohjelmistoja
Name[fr]=Ajouter/supprimer des logiciels
Name[ga]=Cuir Leis/Bain Bogearraí
Name[gl]=Engadir ou eliminar programas
Name[gu]=સોફ્ટવેરને ઉમેરો/દૂર કરો
Name[he]=הוספת/הסרת תכנה
Name[hi]=सॉफ्टवेयर जोड़ें/हटायें
Name[hu]=Szoftver telepítése/eltávolítása
Name[id]=Tambah/Hapus Piranti Lunak
Name[it]=Aggiungi/Rimuovi software
Name[ja]=ソフトウェアの追加と削除
Name[kn]=ತಂತ್ರಾಂಶವನ್ನು ಸೇರಿಸು ಅಥವ ತೆಗೆ
Name[ko]=소프트웨어 추가/제거
Name[lt]=Įdiegti ar šalinti programinę įrangą
Name[lv]=Pievienot/Izņemt programmatūru
Name[mk]=Инсталирај/избриши софтвер
Name[ml]=സോഫ്റ്റ്‌വെയര്‍ ചേര്‍ക്കുക/നീക്കം ചെയ്യുക
Name[mr]=सॉफ्टवेअर जोडा/काढून टाका
Name[ms]=Menambah/Memadam perisian
Name[nb]=Legg til/fjern programvare
Name[nl]=Software installeren/verwijderen
Name[nn]=Legg til/fjern programvare
Name[or]=ସଫ୍ଟୱେର ଯୋଗ/ଅପସାରଣ କରନ୍ତୁ
Name[pa]=ਸਾਫਟਵੇਅਰ ਸ਼ਾਮਲ/ਹਟਾਓ
Name[pl]=Dodanie/usuwanie oprogramowania
Name[pt]=Adicionar/Remover Software
Name[pt_BR]=Adicionar/remover programas
Name[ro]=Adăugare sau ștergere programe
Name[ru]=Установка и удаление программ
Name[sk]=Pridanie alebo odstránenie softvéru
Name[sl]=Upravljanje programske opreme
Name[sr]=Додај-уклони програме
Name[sr@latin]=Dodaj-ukloni programe
Name[sv]=Lägg till/Ta bort programvara
Name[ta]=மென்பொருளை சேர்த்தல்/நீக்குதல்
Name[te]=సాఫ్ట్‍వేర్ జతచేయి/తీసివేయి
Name[th]=เพิ่ม/ลบซอฟต์แวร์
Name[tr]=Yazılım Ekle/Kaldır
Name[ug]=يۇمشاق دېتالنى قوش/ئۆچۈر
Name[uk]=Встановлення та вилучення програм
Name[vi]=Thêm/Gỡ phần mềm
Name[zh_CN]=添加/删除软件
Name[zh_HK]=加入或移除軟件
Name[zh_TW]=加入或移除軟體
Comment=Add or remove software installed on the system
Comment[af]=Voeg by of verwyder sagteware geïnstalleer op die stelsel
Comment[ar]=أضف أو أزل البرمجيات المثبتة على النظام
Comment[as]=ব্যৱস্থাপ্ৰণালীত সংস্থাপিত চালনাজ্ঞান উন্নয়ন কৰক
Comment[ast]=Amestar o quitar software instaláu nel sistema
Comment[be]=Дадаць ці выдаліць апраграмаванне, усталяванае ў сістэме
Comment[bg]=Инсталиране и деинсталиране на софтуер към системата
Comment[bn]=সিস্টেমে সফ্টওয়্যার যোগ করুন অথবা ইনস্টল করা সফ্টওয়্যার অপসারণ
Comment[bn_IN]=সিস্টেমে সফ্টওয়্যার যোগ করুন অথবা ইনস্টল করা সফ্টওয়্যার সরিয়ে ফেলুন
Comment[ca]=Afegeix o suprimeix programari instal·lat en el sistema
Comment[ca@valencia]=Afig o suprimeix programari instal·lat en el sistema
Comment[cs]=Přidat nebo odebrat software instalovaný v systému
Comment[da]=Tilføj eller fjern software installeret på systemet
Comment[de]=Auf dem System installierte Software aktualisieren oder neue Software hinzufügen
Comment[el]=Προσθαφαίρεση λογισμικού στο σύστημα
Comment[en@shaw]=𐑨𐑛 𐑹 𐑮𐑦𐑥𐑵𐑝 𐑕𐑪𐑓𐑑𐑢𐑺 𐑦𐑯𐑕𐑑𐑷𐑤𐑛 𐑪𐑯 𐑞 𐑕𐑦𐑕𐑑𐑩𐑥
Comment[en_GB]=Add or remove software installed on the system
Comment[eo]=Aldoni aŭ forigi instalitan pogramaron sur via sistemo
Comment[es]=Añadir o quitar software instalado en el sistema
Comment[et]=Arvutisse paigaldatud tarkvara lisamine ja eemaldamine
Comment[eu]=Gehitu edo kendu sisteman instalatutako softwarea
Comment[fa]=حذف یا افزودن نرم‌افزارهای نصب شده بر روی این سیستم
Comment[fi]=Lisää tai poista järjestelmään asennettuja ohjelmistoja
Comment[fr]=Ajouter ou supprimer des logiciels installés sur le système
Comment[gl]=Engadir e eliminar o software instalado no sistema
Comment[gu]=સિસ્ટમ પર સ્થાપિત થયેલ સોફ્ટવેરને ઉમેરો અથવા દૂર કરો
Comment[he]=הוספה או הסרה של יישומי המערכת
Comment[hi]=सिस्टम पर संस्थापित सॉफ्टवेयर जोड़ें या हटाएँ
Comment[hu]=Szoftverek rendszerre telepítése vagy eltávolítása
Comment[id]=Tambah atau hapus perangkat lunak yang terpasang pada sistem
Comment[it]=Aggiunge o rimuove software installato sul sistema
Comment[ja]=システムにインストールされたパッケージの追加と削除
Comment[kn]=ಗಣಕಕ್ಕೆ ತಂತ್ರಾಂಶವನ್ನು ಸೇರಿಸು ಅಥವ ಅನುಸ್ಥಾಪಿತಗೊಂಡಿರುವುದನ್ನು ತೆಗೆದು ಹಾಕು
Comment[ko]=시스템에 설치하는 소프트웨어를 추가하거나 제거합니다
Comment[lt]=Įdiegti ar šalinti sistemoje įdiegtą programinę įrangą
Comment[lv]=Pievienot vai izņemt programmatūru sistēmā
Comment[mk]=Инсталирајте или избришете софтвер на системот
Comment[ml]=സിസ്റ്റത്തില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്തിരിക്കുന്ന സോഫ്റ്റ്‌വെയര്‍ ചേര്‍ക്കുക അല്ലെങ്കില്‍ നീക്കം ചെയ്യുക
Comment[mr]=प्रणालीवर प्रतिष्ठापीत सॉफ्टवेअर समावेष करा किंवा काढूण टाका
Comment[ms]=Menambah atau memadam perisian yang dipasang pada sistem
Comment[nb]=Legg til eller fjern programvare på systemet
Comment[nl]=Software installeren op, of verwijderen van het systeem
Comment[nn]=Legg til eller fjern programvare som er installert på systemet
Comment[or]=ତନ୍ତ୍ରରେ ସ୍ଥାପିତ ସଫ୍ଟୱେରରେ ଯୋଗକରନ୍ତୁ କିମ୍ବା କାଢ଼ି ଦିଅନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਉੱਤੇ ਸਾਫਟਵੇਅਰ ਇੰਸਟਾਲ ਕਰੋ ਜਾਂ ਇੰਸਟਾਲ ਕੀਤੇ ਹਟਾਓ
Comment[pl]=Instalowanie lub usuwanie oprogramowania zainstalowanego w systemie
Comment[pt]=Adicionar ou remover software instalado no sistema
Comment[pt_BR]=Adicione ou remova programas instalados no sistema
Comment[ro]=Adăugați sau ștergeți programe instalate pe sistem
Comment[ru]=Установка и удаление программ, установленных в системе
Comment[sk]=Pridáva alebo odstraňuje softvér nainštalovaný v počítači
Comment[sl]=Nameščanje in odstranjevanje programske opreme sistema
Comment[sr]=Додајте или уклоните програме инсталиране на овом систему
Comment[sr@latin]=Dodajte ili uklonite programe instalirane na ovom sistemu
Comment[sv]=Lägg till eller ta bort programvara installerad på systemet
Comment[ta]=கணினியில் நிறுவப்பட்ட மென்பொருளை சேர்க்கவும் அல்லது நீக்கவும்
Comment[te]=ఈ వ్యవస్థ నందు స్థాపించిన సాఫ్ట్‍వేర్‌ను జతచేయి లేదా తీసివేయి
Comment[th]=เพิ่มหรือลบซอฟต์แวร์ที่ติดตั้งในระบบ
Comment[tr]=Sisteminizde yüklü yazılımları ekleyin veya kaldırın
Comment[ug]=سىستېمىڭىزغا ئورنىتىلغان يۇمشاق دېتاللارنى قوشىدۇ ياكى ئۆچۈرىدۇ
Comment[uk]=Встановлення та вилучення програм у системі
Comment[vi]=Thêm hoặc gỡ phần mềm cài đặt trên hệ thống
Comment[zh_CN]=添加或删除系统中安装的软件
Comment[zh_HK]=加入或移除系統上安裝的軟件
Comment[zh_TW]=加入或移除系統上安裝的軟體
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=bywerkings;opgradeer;bronne;lêerstoor;voorkeure;installeer;verwyder;program;sagteware;toep;winkel;
Keywords[ar]=تحديثات;ترقيات;مصادر;مستودعات;تفضيلات;تنصيب;إزالة;برنامج;برمجية;تطبيق;سوق;تحديث;ترقية;مصدر;مستودع;
Keywords[as]=আপডেইটসমূহ;উন্নয়ন;উৎসসমূহ;ভঁৰালসমূহ;পছন্দসমূহ;ইনস্টল;আনইনস্টল;প্ৰগ্ৰাম;চফ্টৱেৰ;এপ;সংৰক্ষণ;
Keywords[bg]=updates;upgrade;sources;repositories;preferences;install;uninstall;program;software;app;store;обновления;надграждане;източници;хранилища;предпочитания;настройки;инсталиране;деинсталиране;програма;софтуер;приложение;магазин;
Keywords[bn]=আপডেট;আপগ্রেড;উৎস;ভান্ডার;পছন্দ;সংস্থাপন;অসংস্থাপন;প্রোগ্রাম;সফটওয়্যার;এ্যাপ;দোকান;
Keywords[bs]=Ažuriranje;Nadogradnja;Izvor;Repozicija;Postavke;Instalacija;Deinstalacija;Program;Sofver;App;Radnja;
Keywords[ca]=Actualitzacions;Actualització;Fonts;Dipòsits;Preferències;Instal·lació;Desinstal·lació;Aplicació;Programa;Apli;Botiga;
Keywords[ca@valencia]=Actualitzacions;Actualització;Fonts;Dipòsits;Preferències;Instal·lació;Desinstal·lació;Aplicació;Programa;Apli;Botiga;
Keywords[cs]=aktualizace;povýšení;zdroje;repozitáře;předvolby;nastavení;instalace;odinstalace;odebrání;program;software;aplikace;obchod;
Keywords[da]=Opdateringer;Opgrader;Kilder;Pakkearkiver;Indstillinger;Installer;Afinstaller;Program;Software;App;Butik;
Keywords[de]=Aktualisierungen;Systemaktualisierung;Quellen;Einstellungen;Installieren;Entfernen;Programm;Software;App;Store;Anwendung;Update;
Keywords[el]=Ενημερώσεις;Αναβαθμίσεις;Πηγές;Αποθετήρια;Προτιμήσεις;Εγκατάσταση;Απεγκατάσταση;Πρόγραμμα;Λογισμικό;Εφαρμογή;Αποθήκευση;Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
Keywords[en_GB]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
Keywords[eo]=Ĝisdatigoj;Altgradigo;Fontoj;Deponejoj;Agordoj;Instali;Malinstali;Programo;Programaro;Aplikaĵo;Butiko;
Keywords[es]=Actualizaciones;Actualizar;Fuentes;Repositorios:Preferencias;Instalar;Desinstalar;Programa;Software;App;Almacén;
Keywords[eu]=Eguneraketak;Bertsio-berritzeak;Iturburuak;Biltegiak;Hobespenak;Instalatu;Desinstalatu;Programa;Softwarea;Aplikazioa;Denda;App;
Keywords[fa]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;به‌روز رسانی‌ها;ارتقا;منابع;مخازن;مخزن;ترجیحات;نصب;حذف;برنامه;نرم‌افزار;اپ;استور;
Keywords[fi]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;Päivitys;Päivitykset;Lähteet;Ohjelmistolähteet;Ohjelmistovarastot;Asenna;Poista;Ohjelma;Sovellus;Kauppa;
Keywords[fr]=mises à jour;mise à niveau;sources;dépôts;préférences;installer;désinstaller;programmes;logiciels;applications;magasin;boutique;
Keywords[fur]=Inzornaments;Avanzament;Sorzints;Repositories;Preferencis;Instalâ;Disinstalâ;Program;Software;Aplicazion;Negozi;
Keywords[gd]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;ùrachadh;ùrachaidhean;ùraich;àrdachadh;àrdaich;tùsan;ionad-tasgaidh;ionadan-tasgaidh;stàlaidh;stàladh;dì-stàlaich;dì-stàladh;prògram;bathar-bog;aplacaid;bùth;
Keywords[gl]=Actualizacións;Anovar;Orixes;Repositorios;Preferenzas;Instalar;Desinstalar;Programa;Software;Aplicación;Tenda;
Keywords[he]=עדכונים;שדרוג;מקורות;מאגרים;העדפות;התקנה;הסרה;מחיקה;תכנית;תכנה;יישום;חנות;
Keywords[hi]=अपडेट;नवीनीकरण;स्रोत;भंडार;प्राथमिकताएँ;स्थापित करें;स्थापना रद्द करें;प्रोग्राम;सॉफ़्टवेयर;ऐप;स्टोर;
Keywords[hr]=Nadopune;Nadogradnja;Izvori;Repozitoriji;Osobitosti;Instaliraj;Deinstaliraj;Program;Softver;Aplikacija;Trgovina;
Keywords[hu]=Frissítések;Frissítés;Források;Tárolók;Beállítások;Telepítés;Eltávolítás;Program;Szoftver;Alkalmazás;Bolt;
Keywords[id]=Pemutakhiran;Peningkatan;Sumber;Repositori;Preferensi;Pasang;Copot;Program;Perangkat Lunak;App;Toko;
Keywords[it]=Aggiornamenti;Avanzamento;Sorgenti;Repository;Preferenze;Installare;Disinstallare;Programma;Software;Applicazione;Negozio;
Keywords[ja]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;更新;アップデート;アップグレード;ソース;リポジトリ;レポジトリ;設定;インストール;アンインストール;プログラム;ソフトウェア;アプリケーション;ストア;
Keywords[kk]=Жаңарту;Қайнар көздер;Репозиторийлер;Баптаулар;Орнату;Өшіру;Бағдарлама;БҚ;Қолданба;Дүкен;
Keywords[ko]=Updates;업데이트;Upgrade;업그레이드;Sources;공급원;Repositories;저장소;Preferences;기본 설정;Install;설치;Uninstall;설치 제거;Program;프로그램;Software;소프트웨어;App;앱;Store;스토어;
Keywords[lt]=Atnaujinimai;Šaltiniai;Saugyklos;Nuostatos;Įdiegti;Išdiegti;Programa;Programinė;Įranga;
Keywords[lv]=Atjauninājumi;Uzlabojumi;Avoti;Krātuves;Repozitoriji;Iestatījumi;Instalēt;Uzstādīt;Atinstalēt;Noņemt;Programmatūra;Lietotne;Veikals;
Keywords[mjw]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;
Keywords[ml]=പുതുക്കലുകൾ;നവീകരണങ്ങൾ;ഉറവിടങ്ങൾ;റിപ്പോസിറ്ററികൾ;മുൻഗണനകൾ;ഇൻസ്റ്റാൾ ചെയ്യുക;അൺഇൻസ്റ്റാൾ ചെയ്യുക;പ്രോഗ്രാം;സോഫ്റ്റ്‌വെയർ;ആപ്പ്;കലവറ;
Keywords[ms]=Kemas kini;Tatar;Sumber;Repositori;Keutamaan;Pasang;Nyahpasang;Program;Perisian;Apl;Kedai;
Keywords[nb]=Oppdateringer;Oppgrader;Kilder;Repo;Brukervalg;Installer;Avinstaller;Program;Programvare;App;Butikk;
Keywords[nl]=Updates;Upgrade;Sources;Bronnen;Repositories;Preferences;Voorkeuren;Install;Installeren;Uninstall;Verwijderen;Program;Programma;Software;App;Toepassing;Applicatie;Store;Winkel;
Keywords[oc]=mesas a jorn;mesa a nivèl;fonts;depauses;preferéncias;installar;desinstallar;programa;aplicacion;logicial;magazin;
Keywords[pa]=ਅੱਪਡੇਟ;ਸਰੋਤ;ਰਿਪੋਜ਼ਟਰੀ;ਪਸੰਦ,ਇੰਸਟਾਲ;ਸਟੋਰ;ਅੱਪਗਰੇਡ;Updates;Upgrade;Sources;Repositories;Preferences;Install;Store;ਅਣਇੰਸਟਾਲ;ਅਣ-ਇੰਸਟਾਲ;ਪ੍ਰੋਗਰਾਮ;ਸਾਫਟਵੇਅਰ;ਐਪ;
Keywords[pl]=Aktualizacje;Aktualizuj;Zaktualizuj;Uaktualnienia;Uaktualnij;Update;Upgrade;Źródła;Źródło;Repozytoria;Repozytorium,Preferencje;Opcje;Ustawienia;Instalacja;Zainstaluj;Odinstaluj;Deinstalacja;Deinstaluj;Program;Oprogramowanie;Software;Aplikacja;Aplikacje;App;Apps;Sklep;Store;
Keywords[pt]=Atualizações;Fontes;Origens;Repositórios;Preferências;Instalar;Desinstalar;Programa;Software;App;Loja;
Keywords[pt_BR]=Atualizações;Upgrade;Atualização;Fontes;Repositórios;Preferências;Instalação;Instalar;Desinstalar;Programa;Software;Aplicativo;App;Loja;Store;
Keywords[ro]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;Surse;Instalează;Aplicații;Depozite,Preferințe;Instalare;Dezinstalare;Actualizare;Actualizări;
Keywords[ru]=Обновления;Источники;Репозитории;Параметры;Установить;Удалить;Программа;Приложение;Магазин;
Keywords[sk]=Aktualizácie;Inovácia;Zdroje;Repozitáre;Nastavenia;Inštalácia;Inštalovanie;Odinštalovanie;Program;Softvér;Aplikácia;Obchod;
Keywords[sl]=Posodobitve;Posodobitev;Viri;Skladišča;Programi;Namestitev;Lastnosti;Odnamestitev;App;Trgovina;
Keywords[sr]=ажурирања;освежења;доградње;надоградње;извори;ризнице;складишта;поставке;инсталација;уклањање;програм;софтвер;апликација;радња;исправке;апдејтови;Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;ažuriranja;osveženja;dogradnje;nadogradnje;izvori;riznice;skladišta;postavke;instalacija;uklanjanje;program;softver;aplikacija;radnja;ispravke;apdejtovi;
Keywords[sr@latin]=ažuriranja;osveženja;dogradnje;nadogradnje;izvori;riznice;skladišta;postavke;instalacija;uklanjanje;program;softver;aplikacija;radnja;ispravke;apdejtovi;Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;ažuriranja;osveženja;dogradnje;nadogradnje;izvori;riznice;skladišta;postavke;instalacija;uklanjanje;program;softver;aplikacija;radnja;ispravke;apdejtovi;
Keywords[sv]=Uppdateringar;Uppgradera;Källor;Programvarukällor;Inställningar;Installera;Avinstallera;Program;Programvara;Mjukvara;Butik;App;Store;
Keywords[th]=ปรับรุ่น;แหล่งซอฟต์แวร์;คลังแพกเกจ;ปรับแต่ง;ติดตั้ง;ถอดถอน;โปรแกรม;ซอฟต์แวร์;แอ็ป;ร้าน;
Keywords[tr]=Güncellemeler;Güncelleştirmeler;Yükseltme;Depolar;Sürüm Depoları;Tercihler;Yükle;Kur;Kaldır;Program;Yazılım;Uygulama;Mağaza;
Keywords[uk]=Оновлення;Джерело;Сховище;Параметри;Налаштування;Встановити;Вилучити;Програма;Магазин;
Keywords[vi]=Bản cập nhật;Nâng cấp;Mã nguồn;Kho chứa mã;Ưu tiên;Cài đặt;Hủy cài đặt;Chương trình;Phần mềm;Ứng dụng;Cửa hàng;
Keywords[zh_CN]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;更新;升级;源;仓库;首选项;安装;卸载;程序;软件;应用;商店;
Keywords[zh_HK]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;Store;;更新;升級;來源;套件庫;軟件庫;倉庫;偏好設定;安裝;解除安裝;程式;軟件;應用;商店;
Keywords[zh_TW]=Updates;Upgrade;Sources;Repositories;Preferences;Install;Uninstall;Program;Software;App;St
Icon=system-software-install
Exec=pamac-manager %U
Terminal=false
Type=Application
Categories=GNOME;GTK;System;PackageManager;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
MimeType=x-scheme-handler/appstream;x-scheme-handler/snap;application/vnd.flatpak;application/vnd.flatpak.repo;application/vnd.flatpak.ref;application/vnd.snap;
X-GNOME-UsesNotifications=true
StartupWMClass=pamac-manager
DBusActivatable=true
Actions=updates;

[Desktop Action updates]
Name=Software Update
Name[af]=Sagtewarebywerking
Name[ar]=تحديث البرمجيات
Name[as]=চালনাজ্ঞান উন্নয়ন ব্যৱস্থা
Name[ast]=Anovamientu de software
Name[be]=Абнаўленне апраграмавання
Name[bg]=Обновление на софтуера
Name[bn]=সফ্টওয়্যার হালনাগাদ
Name[bn_IN]=সফ্টওয়্যার আপডেট ব্যবস্থা
Name[ca]=Actualització de programari
Name[ca@valencia]=Actualització de programari
Name[cs]=Aktualizace softwaru
Name[da]=Softwareopdatering
Name[de]=Software-Aktualisierungen
Name[el]=Ενημέρωση λογισμικού
Name[en@shaw]=𐑕𐑪𐑓𐑑𐑢𐑺 𐑳𐑐𐑛𐑱𐑑
Name[en_GB]=Software Update
Name[eo]=Programar-ĝistatigo
Name[es]=Actualización de software
Name[et]=Tarkvarauuendus
Name[eu]=Softwarearen eguneraketa
Name[fa]=بروزرسانی نرم‌افزار
Name[fi]=Ohjelmistopäivitykset
Name[fr]=Mise à jour des logiciels
Name[gl]=Actualización de software
Name[gu]=સોફ્ટવેર સુધારા
Name[he]=עדכון תכנה
Name[hi]=सॉफ्टवेयर अद्यतन
Name[hu]=Szoftverfrissítés
Name[id]=Pembaruan Perangkat Lunak
Name[it]=Aggiornamento software
Name[ja]=ソフトウェアの更新
Name[kn]=ತಂತ್ರಾಂಶ ಅಪ್‌ಡೇಟ್‌
Name[ko]=소프트웨어 업데이트
Name[lt]=Programinės įrangos atnaujinimas
Name[lv]=Programmatūras atjaunināšana
Name[mk]=Ажурирање на софтвер
Name[ml]=സോഫ്റ്റ്‌വെയര്‍ പരിഷ്കാരം
Name[mr]=सॉफ्टवेअर अद्ययावत
Name[nb]=Programvareoppdatering
Name[nl]=Software bijwerken
Name[nn]=Programvareoppdatering
Name[or]=ସଫ୍ଟୱେର ଅଦ୍ୟତନ
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ
Name[pl]=Aktualizacja oprogramowania
Name[pt]=Actualização de Software
Name[pt_BR]=Atualizações de programas
Name[ro]=Actualizări de programe
Name[ru]=Обновление программ
Name[sk]=Aktualizácia softvéru
Name[sl]=Posodobitev programske opreme
Name[sr]=Ажурирање програма
Name[sr@latin]=Ažuriranje programa
Name[sv]=Programuppdatering
Name[ta]=மென்பொருள் மேம்படுத்தல்
Name[te]=సాప్ట్‍వేర్ నవీకరణ
Name[th]=ปรับรุ่นซอฟต์แวร์
Name[tr]=Yazılım Güncelleme
Name[ug]=يۇمشاق دېتال يېڭىلاش
Name[uk]=Оновлення програм
Name[vi]=Bản cập nhật phần mềm
Name[zh_CN]=软件更新
Name[zh_HK]=軟件更新
Name[zh_TW]=軟體更新
Exec=pamac-manager --updates
