[Desktop Entry]
Name=Add/Remove Software
Exec=gnome-software %U
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
NoDisplay=true
