[Desktop Entry]
Name=Software Install
Name[af]=Sagteware installeer
Name[ar]=تثبيت البرامج
Name[as]=চফ্টৱেৰ ইনস্টল
Name[ast]=Instalador de software
Name[be]=Усталяванне апраграмавання
Name[bg]=Инсталиране на софтуер
Name[bn_IN]=সফ্টওয়্যার ইনস্টলেশন
Name[ca]=Instal·lació de programari
Name[ca@valencia]=Instal·lació de programari
Name[cs]=Instalace softwaru
Name[da]=Softwareinstallation
Name[de]=Software-Installation
Name[el]=Εγκατάσταση λογισμικού
Name[en_GB]=Software Install
Name[es]=Instalador de software
Name[et]=Tarkvara paigaldamine
Name[eu]=Paketeen instalatzailea
Name[fa]=نصب نرم‌افزار
Name[fi]=Ohjelmistojen asennus
Name[fr]=Installation de logiciels
Name[gl]=Instalador de software
Name[gu]=સોફ્ટવેર સ્થાપન
Name[he]=התקנת תכנה
Name[hi]=सॉफ्टवेयर संस्थापित करें
Name[hu]=Szoftvertelepítő
Name[id]=Pasang Perangkat Lunak
Name[it]=Installatore software
Name[ja]=ソフトウェアのインストール
Name[kn]=ತಂತ್ರಾಂಶ ಅನುಸ್ಥಾಪನೆ
Name[ko]=소프트웨어 설치
Name[lt]=Programinės įrangos įdiegimas
Name[lv]=Programmatūras instalēšana
Name[mk]=Инсталација на софтвер
Name[ml]=സോഫ്റ്റ്‌വെയര്‍ ഇന്‍സ്റ്റോള്‍
Name[mr]=सॉफ्टवेअर प्रतिष्ठापन
Name[nb]=Programvareinstallasjon
Name[nl]=Software-installatie
Name[pa]=ਸਾਫਟਵੇਅਰ ਇੰਸਟਾਲ ਕਰੋ
Name[pl]=Instalacja oprogramowania
Name[pt]=Instalar Software
Name[pt_BR]=Instalação de programas
Name[ru]=Установка программ
Name[sk]=Inštalácia softvéru
Name[sl]=Nameščanje programske opreme
Name[sr]=Инсталација софтвера
Name[sr@latin]=Instalacija softvera
Name[sv]=Programinstallation
Name[ta]=மென்பொருள் நிறுவல்
Name[te]=సాఫ్ట్‍వేర్ స్థాపన
Name[th]=ติดตั้งซอฟต์แวร์
Name[tr]=Yazılım Kur
Name[ug]=يۇمشاق دېتال ئورنات
Name[uk]=Установлення програм
Name[vi]=Cài phần mềm
Name[zh_CN]=软件安装程序
Name[zh_HK]=軟件安裝
Name[zh_TW]=軟體安裝
Comment=Install selected software on the system
Comment[af]=Installeer gekose sagteware op die stelsel
Comment[ar]=ثبت البرمجيات المختارة على النظام
Comment[as]=চিস্টেমত নিৰ্বাচিত চফ্টৱেৰ ইনস্টল কৰক
Comment[ast]=Instalar el software escoyíu nel sistema
Comment[be]=Усталяваць вылучанае апраграмаванне ў сістэму
Comment[bg]=Инсталиране на избрания софтуер на системата
Comment[bn]=সিস্টেমের মধ্যে নির্বাচিত সফ্টওয়্যার ইনস্টল
Comment[bn_IN]=সিস্টেমের মধ্যে নির্বাচিত সফ্টওয়্যার ইনস্টল করুন
Comment[ca]=Instal·la el programari seleccionat en el sistema
Comment[ca@valencia]=Instal·la el programari seleccionat en el sistema
Comment[cs]=Instalovat vybraný software do tohoto systému
Comment[da]=Installér valgt software på systemet
Comment[de]=Ausgewählte Software auf dem System installieren
Comment[el]=Εγκατάσταση του επιλεγμένου λογισμικού στο σύστημα
Comment[en@shaw]=𐑦𐑯𐑕𐑑𐑷𐑤 𐑕𐑩𐑤𐑧𐑒𐑑𐑩𐑛 𐑕𐑪𐑓𐑑𐑢𐑺 𐑪𐑯 𐑞 𐑕𐑦𐑕𐑑𐑩𐑥
Comment[en_GB]=Install selected software on the system
Comment[eo]=Instali elektitan programaron sur the sistemo
Comment[es]=Instalar el software seleccionado en el sistema
Comment[et]=Valitud tarkvara paigaldamine arvutisse
Comment[eu]=Instalatu hautatutako softwarea sisteman
Comment[fa]=نصب نرم‌افزار انتخاب شده بر روی سیستم
Comment[fi]=Asenna valitut ohjelmistot järjestelmään
Comment[fr]=Installer le logiciel sélectionné sur le système
Comment[gl]=Instalar o programa seleccionado no sistema
Comment[gu]=સિસ્ટમ પર પસંદ થયેલ સોફ્ટવેરને સ્થાપિત કરો
Comment[he]=התקנת התוכנות הנבחרות על המערכת
Comment[hi]=सिस्टम पर चयनित सॉफ्टवेयर संस्थापित करें
Comment[hu]=A kijelölt szoftverek telepítése a rendszerre
Comment[id]=Pasang perangkat lunak yang dipilih pada sistem
Comment[it]=Installa il software selezionato sul sistema
Comment[ja]=選択されたソフトウェアをシステムにインストールします
Comment[kn]=ಆರಿಸಲಾದ ತಂತ್ರಾಂಶವನ್ನು ಗಣಕದಲ್ಲಿ ಅನುಸ್ಥಾಪಿಸು
Comment[ko]=선택한 소프트웨어를 시스템에 설치합니다
Comment[lt]=Įdiegti pasirinktą programinę įrangą sistemoje
Comment[lv]=Instalēt izvēlēto programmatūru sistēmā
Comment[mk]=Инсталирај го избраниот софтвер на системот
Comment[ml]=തെരഞ്ഞെടുത്ത സോഫ്റ്റ്‌വെയറുകള്‍ സിസ്റ്റമില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്യുക
Comment[mr]=नीवडलेले सॉफ्टवेअर प्रणालीवर प्रतिष्ठापीत करा
Comment[nb]=Installer valgt programvare på systemet
Comment[nl]=Geselecteerde software op het systeem installeren
Comment[nn]=Installer vald programvare på systemet
Comment[or]=ତନ୍ତ୍ରରେ ବଚ୍ଛିତ ସଫ୍ଟୱେର ସ୍ଥାପନ କରନ୍ତୁ
Comment[pa]=ਚੁਣੇ ਸਾਫਟਵੇਅਰ ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Instalacja wybranego oprogramowania w systemie
Comment[pt]=Instalar software seleccionado no sistema
Comment[pt_BR]=Instale o programa selecionado no sistema
Comment[ro]=Instalează pachetele selectate pe sistem
Comment[ru]=Установить в систему выбранные программы
Comment[sk]=Nainštalovať na systéme zvolený softvér
Comment[sl]=Namestitev izbrane programske opreme v sistem
Comment[sr]=Инсталирајте изабране програме на систем
Comment[sr@latin]=Instalirajte izabrane programe na sistem
Comment[sv]=Installera markerad programvara på systemet
Comment[ta]=தேர்ந்தெடுக்கப்பட்ட மென்பொருளை கணினியில் நிறுவவும்
Comment[te]=ఎంచుకున్న సాఫ్ట్‍‌వేర్‌ను వ్యవస్థ నందు స్థాపించు
Comment[th]=ติดตั้งซอฟต์แวร์ที่เลือกไว้ลงในระบบ
Comment[tr]=Seçili yazılımı sisteme kur
Comment[ug]=تاللانغان يۇمشاق دېتالنى سىستېمىغا ئورنات
Comment[uk]=Встановити у систему вибрані програми
Comment[vi]=Cài đặt phần mềm đã chọn vào hệ thống
Comment[zh_CN]=在系统中安装选定的软件
Comment[zh_HK]=安裝選取的軟件到系統中
Comment[zh_TW]=安裝選取的軟體到系統中
Categories=System;
Exec=pamac-install %F
Terminal=false
Type=Application
Icon=system-software-install
StartupNotify=true
NoDisplay=true
MimeType=application/x-alpm-package;
