[Desktop Entry]
Name=Software Update
Name[af]=Sagtewarebywerking
Name[ar]=تحديث البرمجيات
Name[as]=চালনাজ্ঞান উন্নয়ন ব্যৱস্থা
Name[ast]=Anovamientu de software
Name[be]=Абнаўленне апраграмавання
Name[bg]=Обновление на софтуера
Name[bn]=সফ্টওয়্যার হালনাগাদ
Name[bn_IN]=সফ্টওয়্যার আপডেট ব্যবস্থা
Name[ca]=Actualització de programari
Name[ca@valencia]=Actualització de programari
Name[cs]=Aktualizace softwaru
Name[da]=Softwareopdatering
Name[de]=Software-Aktualisierungen
Name[el]=Ενημέρωση λογισμικού
Name[en@shaw]=𐑕𐑪𐑓𐑑𐑢𐑺 𐑳𐑐𐑛𐑱𐑑
Name[en_GB]=Software Update
Name[eo]=Programar-ĝistatigo
Name[es]=Actualización de software
Name[et]=Tarkvarauuendus
Name[eu]=Softwarearen eguneraketa
Name[fa]=بروزرسانی نرم‌افزار
Name[fi]=Ohjelmistopäivitykset
Name[fr]=Mise à jour des logiciels
Name[gl]=Actualización de software
Name[gu]=સોફ્ટવેર સુધારા
Name[he]=עדכון תכנה
Name[hi]=सॉफ्टवेयर अद्यतन
Name[hu]=Szoftverfrissítés
Name[id]=Pembaruan Perangkat Lunak
Name[it]=Aggiornamento software
Name[ja]=ソフトウェアの更新
Name[kn]=ತಂತ್ರಾಂಶ ಅಪ್‌ಡೇಟ್‌
Name[ko]=소프트웨어 업데이트
Name[lt]=Programinės įrangos atnaujinimas
Name[lv]=Programmatūras atjaunināšana
Name[mk]=Ажурирање на софтвер
Name[ml]=സോഫ്റ്റ്‌വെയര്‍ പരിഷ്കാരം
Name[mr]=सॉफ्टवेअर अद्ययावत
Name[nb]=Programvareoppdatering
Name[nl]=Software bijwerken
Name[nn]=Programvareoppdatering
Name[or]=ସଫ୍ଟୱେର ଅଦ୍ୟତନ
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ
Name[pl]=Aktualizacja oprogramowania
Name[pt]=Actualização de Software
Name[pt_BR]=Atualizações de programas
Name[ro]=Actualizări de programe
Name[ru]=Обновление программ
Name[sk]=Aktualizácia softvéru
Name[sl]=Posodobitev programske opreme
Name[sr]=Ажурирање програма
Name[sr@latin]=Ažuriranje programa
Name[sv]=Programuppdatering
Name[ta]=மென்பொருள் மேம்படுத்தல்
Name[te]=సాప్ట్‍వేర్ నవీకరణ
Name[th]=ปรับรุ่นซอฟต์แวร์
Name[tr]=Yazılım Güncelleme
Name[ug]=يۇمشاق دېتال يېڭىلاش
Name[uk]=Оновлення програм
Name[vi]=Bản cập nhật phần mềm
Name[zh_CN]=软件更新
Name[zh_HK]=軟件更新
Name[zh_TW]=軟體更新
Comment=Update software installed on the system
Comment[af]=Werk geïnstalleer sagteware op die stelsel by
Comment[ar]=حدّث الحزم المُثبّتة على النظام
Comment[as]=ব্যৱস্থাপ্ৰণালীত সংস্থাপিত চালনাজ্ঞান উন্নয়ন কৰক
Comment[ast]=Anovar el software instaláu nel sistema
Comment[be]=Абнаўленне апраграмавання, усталяванага ў сістэме
Comment[bg]=Обновяване на софтуера инсталиран върху системата
Comment[bn]=সিস্টেমে ইনস্টলকৃত সফ্টওয়্যার হালনাগাদ
Comment[bn_IN]=সিস্টেমে ইনস্টল থাকা সফ্টওয়্যার আপডেট করুন
Comment[ca]=Actualitza el programari instal·lat en el sistema
Comment[ca@valencia]=Actualitza el programari instal·lat en el sistema
Comment[cs]=Aktualizovat software instalovaný v tomto systému
Comment[da]=Opdatér software installeret på systemet
Comment[de]=Auf dem System installierte Software aktualisieren
Comment[el]=Ενημέρωση εγκατεστημένου λογισμικού
Comment[en@shaw]=𐑳𐑐𐑛𐑱𐑑 𐑕𐑪𐑓𐑑𐑢𐑺 𐑦𐑯𐑕𐑑𐑷𐑤𐑛 𐑪𐑯 𐑞 𐑕𐑦𐑕𐑑𐑩𐑥
Comment[en_GB]=Update software installed on the system
Comment[es]=Actualizar el software instalado en el sistema
Comment[et]=Süsteemi paigaldatud tarkvara uuendamine
Comment[eu]=Eguneratu sisteman instalatutako softwarea
Comment[fa]=بروزرسانی نرم‌افزار نصب شده بر روی سیستم
Comment[fi]=Päivitä järjestelmään asennettuja ohjelmistoja
Comment[fr]=Met à jour les logiciels installés sur le système
Comment[gl]=Actualizar o software instalado no sistema
Comment[gu]=સિસ્ટમ પર સ્થાપિત થયેલ સોફ્ટવેરને સુધારો
Comment[he]=עדכון תוכנות המותקנות על המערכת
Comment[hi]=सिस्टम पर संस्थापित सॉफ्टवेयर अद्यतन करें
Comment[hu]=A rendszerre telepített szoftverek frissítése
Comment[id]=Mutakhirkan perangkat lunak yang terpasang pada sistem
Comment[it]=Aggiorna il software installato sul sistema
Comment[ja]=システムにインストールされたパッケージの更新
Comment[kn]=ಗಣಕದಲ್ಲಿ ಅನುಸ್ಥಾಪಿತಗೊಂಡಿರುವ ತಂತ್ರಾಂಶವನ್ನು ಅಪ್ಡೇಟ್ ಮಾಡು
Comment[ko]=시스템에 설치한 소프트웨어를 업데이트합니다
Comment[lt]=Atnaujinti sistemoje įdiegtą programinę įrangą
Comment[lv]=Atjaunināt sistēmā instalēto programmatūru
Comment[mk]=Ажурирај го софтверот инсталирај на системот
Comment[ml]=സിസ്റ്റമില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്തിരിക്കുന്ന സോഫ്റ്റ്‌വെയറുകള്‍ പരിഷ്കരിക്കുക
Comment[mr]=प्रणालीवर प्रतिष्ठापीत सॉफ्टवेअर अद्ययावत करा
Comment[nb]=Oppdater programvare som er installert på systemet
Comment[nl]=Werk de op uw systeem geïnstalleerde software bij
Comment[nn]=Oppdater programvare installert på systemet
Comment[or]=ତନ୍ତ୍ରରେ ସ୍ଥାପନ କରାଯାଇଥିବା ସଫ୍ଟୱେରକୁ ଅଦ୍ୟତନ କରନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Aktualizacja oprogramowania zainstalowanego w systemie
Comment[pt]=Actualizar software instalado no sistema
Comment[pt_BR]=Atualize os programas instalados no sistema
Comment[ro]=Actualizați programele instalate pe sistem
Comment[ru]=Обновление программ, установленных в системе
Comment[sk]=Aktualizuje softvér nainštalovaný v tomto počítači
Comment[sl]=Posodobitev programske opreme nameščene na sistemu
Comment[sr]=Ажурирајте програме инсталиране на овом систему
Comment[sr@latin]=Ažurirajte programe instalirane na ovom sistemu
Comment[sv]=Uppdatera programvara installerade på systemet
Comment[ta]=கணினியில் நிறுவப்பட்ட மென்பொருளை புதுப்பிக்கவும்
Comment[te]=వ్యవస్థ నందు స్థాపించిన సాఫ్ట్‍వేర్‌ను నవీకరించు
Comment[th]=ปรับรุ่นซอฟต์แวร์ที่ติดตั้งอยู่ในระบบ
Comment[tr]=Sisteminizde yüklü yazılımı güncelleyin
Comment[ug]=يېڭىلاش يۇمشاق دېتال بۇ سىستېمىغا ئورنىتىلدى
Comment[uk]=Оновлення програм, встановлених у системі
Comment[vi]=Cập nhật phần mềm đã cài đặt trên hệ thống
Comment[zh_CN]=更新本系统中安装的软件
Comment[zh_HK]=更新系統中已安裝的軟件
Comment[zh_TW]=更新系統中已安裝的軟體
Icon=system-software-update
Exec=pamac-manager --updates
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
