[Desktop Entry]
Name=Update Notifier
Icon=update-notifier
Exec=sh -c "GDK_BACKEND=x11 pamac-tray"
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=Budgie;
